{{>layout/header}}

<h1>Hedera Wallet</h1>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-6">
            <a href="/posts/save" role="button" class="btn btn-primary">지갑 등록</a>
        </div>
    </div>
</div>

</br>

<div class="col-md-12">
    <div class="row">
        <div class="col-md-6">
            <a href="/posts/save" role="button" class="btn btn-primary">코인 전송</a>
        </div>
    </div>
</div>

{{>layout/footer}}
